.load-blink-dot {
    animation: blink-dot 1.2s linear infinite;
    opacity: 0;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes blink-dot {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
